In [1]:
import pandas as pd
import numpy as np

In [2]:
DEC = {}

In [5]:
for i in range(56,65):
    DEC[str(i)] = pd.read_csv("data/1_"+str(i)+"12.csv")

In [9]:
DEC["56"]

,ปีเดือน,รหัสจังหวัด,ชื่อจังหวัด,รหัสสำนักทะเบียน,ชื่อสำนักทะเบียน,รหัสตำบล,ชื่อตำบล,รหัสหมู่บ้าน,ชื่อหมู่บ้าน,ชาย < 1 ปี,...,ผลรวมประชากรที่มีชื่ออยู่ในทะเบียนบ้านกลาง,จำนวนประชากรชายที่มิใช่สัญชาติไทย,จำนวนประชากรหญิงที่มิใช่สัญชาติไทย,ผลรวมประชากรที่มิใช่สัญชาติไทย,จำนวนประชากรชายที่อยู่ระหว่างการย้าย,จำนวนประชากรหญิงที่อยู่ระหว่างการย้าย,ผลรวมประชากรที่อยู่ระหว่างการย้าย,จำนวนประชากรชายทั้งหมด,จำนวนประชากรหญิงทั้งหมด,ผลรวมประชากรทั้งหมด
0,5612,0,ทั่วประเทศ,0,NaN,0,NaN,0,NaN,"358,688",...,"637,403","183,074","159,634","342,708","96,898","57,865","154,763","31,845,971","32,939,938","64,785,909"
1,5612,10,กรุงเทพมหานคร,0,NaN,0,NaN,0,NaN,"24,126",...,"91,068","25,109","19,225","44,334","19,952","13,181","33,133","2,694,921","2,991,331","5,686,252"
2,5612,11,จังหวัดสมุทรปราการ,0,NaN,0,NaN,0,NaN,"6,976",...,"9,924","2,096","1,394","3,490","2,876","2,399","5,275","596,744","644,866","1,241,610"
3,5612,12,จังหวัดนนทบุรี,0,NaN,0,NaN,0,NaN,"5,611",...,"9,671","1,609","1,058","2,667","1,700","1,401","3,101","542,196","614,075","1,156,271"
4,5612,13,จังหวัดปทุมธานี,0,NaN,0,NaN,0,NaN,"5,844",...,"8,112","1,047",630,"1,677","1,639","1,119","2,758","500,610","552,548","1,053,158"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,5612,92,จังหวัดตรัง,0,NaN,0,NaN,0,NaN,"4,059",...,"4,099",267,167,434,863,554,"1,417","311,695","324,348","636,043"
74,5612,93,จังหวัดพัทลุง,0,NaN,0,NaN,0,NaN,"3,132",...,"3,171",72,48,120,574,383,957,"253,264","264,757","518,021"
75,5612,94,จังหวัดปัตตานี,0,NaN,0,NaN,0,NaN,"6,240",...,"7,149",127,80,207,660,469,"1,129","335,698","343,140","678,838"
76,5612,95,จังหวัดยะลา,0,NaN,0,NaN,0,NaN,"4,735",...,"4,367",520,383,903,497,399,896,"251,023","255,115","506,138"
77,5612,96,จังหวัดนราธิวาส,0,NaN,0,NaN,0,NaN,"6,674",...,"10,218",307,238,545,953,694,"1,647","379,462","386,683","766,145"

In [15]:
Total_Pop = pd.DataFrame()
Total_Pop["province_id"] = DEC["56"]["รหัสจังหวัด"]
Total_Pop["province_name"] = DEC["56"]["ชื่อจังหวัด"]

In [12]:
for i in range(56,65):
    DEC[str(i)][str(int("25"+str(i))-543)] = DEC[str(i)]["ผลรวมประชากรทั้งหมด"]

In [22]:
DEC["56"].iloc[:,-1].to_frame()

          2013
0   64,785,909
1    5,686,252
2    1,241,610
3    1,156,271
4    1,053,158
..         ...
73     636,043
74     518,021
75     678,838
76     506,138
77     766,145

[78 rows x 1 columns]

In [26]:
for i in range(56,65):
    Total_Pop = pd.concat([Total_Pop,DEC[str(i)].iloc[:,-1].to_frame()],axis = 1)

In [31]:
Total_Pop.dropna(inplace = True)

In [35]:
Total_Pop['province_name'] = Total_Pop['province_name'].str.replace("จังหวัด","")

In [36]:
Total_Pop

,province_id,province_name,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0.0,ทั่วประเทศ,"64,785,909","65,124,716","65,729,098","65,931,550","66,188,503","66,413,979","66,558,935","66,186,727","66,171,439"
1,10.0,กรุงเทพมหานคร,"5,686,252","5,692,284","5,696,409","5,686,646","5,682,415","5,676,648","5,666,264","5,588,222","5,527,994"
2,11.0,สมุทรปราการ,"1,241,610","1,261,530","1,279,310","1,293,553","1,310,766","1,326,608","1,344,875","1,351,479","1,356,449"
3,12.0,นนทบุรี,"1,156,271","1,173,870","1,193,711","1,211,924","1,229,735","1,246,295","1,265,387","1,276,745","1,288,637"
4,13.0,ปทุมธานี,"1,053,158","1,074,058","1,094,249","1,111,376","1,129,115","1,146,092","1,163,604","1,176,412","1,190,060"
...,...,...,...,...,...,...,...,...,...,...,...
73,92.0,ตรัง,"636,043","638,746","640,793","641,684","643,072","643,116","643,164","640,574","639,788"
74,93.0,พัทลุง,"518,021","520,419","522,723","523,723","524,857","525,044","524,865","523,077","522,541"
75,94.0,ปัตตานี,"678,838","686,186","694,023","700,961","709,796","718,077","725,104","726,015","729,581"
76,95.0,ยะลา,"506,138","511,911","518,139","522,279","527,295","532,326","536,330","538,602","542,314"
77,96.0,นราธิวาส,"766,145","774,799","783,082","789,681","796,239","802,474","808,020","804,429","809,660"

In [37]:
Total_Pop.to_csv("TotalThailandPopulation2013_2021.csv",index=False)